Repository blockworks-foundation/mango-v4, pull requests merged in 2023-05, with the labels that each got.

#569 OpenBook place order: respect bank reduce_only flags
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/tests/cases/test_health_region.rs
  programs/mango-v4/tests/cases/test_serum.rs
Labels: program

#566 Improve error message for FixedAccountRetriever
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/account_retriever.rs
Labels: program

#573 ts-client: Fix serum taker fee computation
  ts/client/src/accounts/serum3.ts
  ts/client/src/client.ts
Labels: client

#568 Clarkeni/oracle confidence
  mango_v4.json
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/instructions/perp_update_funding.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/perp_market.rs
  ts/client/src/mango_v4.ts
Labels: program, client

#576 Perp: Exit matching loop when no more base lots can be filled
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/src/state/orderbook/mod.rs
  programs/mango-v4/tests/cases/test_health_region.rs
Labels: program

#577 Changelog for program v0.15.0, version bump, idl update
  CHANGELOG.md
  Cargo.lock
  mango_v4.json
  programs/mango-v4/Cargo.toml
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: documentation, dependency, program, client

#580 Make clippy happy
  .github/workflows/ci-code-review-rust.yml
  programs/mango-v4/src/instructions/benchmark.rs
  rust-toolchain.toml
Labels: program

#581 document unused field
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/state/group.rs
Labels: program

#565 Risk notification bot
  package.json
  ts/client/scripts/archive/debug-user.ts
  ts/client/scripts/archive/devnet-user.ts
  ts/client/scripts/large-unhealthy-accounts.ts
  ts/client/scripts/param-check.ts
  ts/client/scripts/risk.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/index.ts
  ts/client/src/risk.ts
  yarn.lock
Labels: dependency, client

#579 log taker trade summary
  CHANGELOG.md
  mango_v4.json
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/orderbook/book.rs
  ts/client/src/mango_v4.ts
Labels: documentation, program, client

#533 Enable self-trading protection
  DEVELOPING.md
  bin/liquidator/src/rebalance.rs
  lib/client/src/client.rs
  mango_v4.json
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/src/state/orderbook/mod.rs
  programs/mango-v4/src/state/orderbook/order.rs
  programs/mango-v4/src/state/orderbook/order_type.rs
  programs/mango-v4/src/state/orderbook/queue.rs
  programs/mango-v4/tests/cases/test_fees_buyback_with_mngo.rs
  programs/mango-v4/tests/cases/test_force_close.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_liq_perps_bankruptcy.rs
  programs/mango-v4/tests/cases/test_liq_perps_base_and_bankruptcy.rs
  programs/mango-v4/tests/cases/test_liq_perps_force_cancel.rs
  programs/mango-v4/tests/cases/test_liq_perps_positive_pnl.rs
  programs/mango-v4/tests/cases/test_perp.rs
  programs/mango-v4/tests/cases/test_perp_settle.rs
  programs/mango-v4/tests/cases/test_perp_settle_fees.rs
  programs/mango-v4/tests/cases/test_reduce_only.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/mango_v4.ts
Labels: documentation, program, client

#586 merge deploy changes to dev
  package.json
  ts/client/scripts/mm/params/default.json
  ts/client/scripts/risk.ts
  ts/client/src/accounts/bank.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/client.ts
  ts/client/src/risk.ts
Labels: client

#588 manage dependencies in workspace
  Cargo.toml
  bin/cli/Cargo.toml
  bin/keeper/Cargo.toml
  bin/liquidator/Cargo.toml
  bin/settler/Cargo.toml
  lib/client/Cargo.toml
  programs/mango-v4/Cargo.toml
  programs/margin-trade/Cargo.toml
Labels: program

#597 HealthRegion: Whitelist new perp_place_order_(pegged_)v2 ix
  programs/mango-v4/src/instructions/health_region.rs
Labels: program

#596 referrerRebatesAccrued - these accrue to the ui now
  ts/client/src/accounts/healthCache.ts
  ts/client/src/accounts/mangoAccount.ts
Labels: client
