Repository blockworks-foundation/mango-v4, pull requests merged in 2023-11, with the labels that each got.

#769 Bank: track deposits in serum oo accounts
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/tests/cases/test_serum.rs
Labels: program

#770 fast listing: disable flash loan swap fee
  programs/mango-v4/src/instructions/token_register_trustless.rs
Labels: program

#768 rust client: ix cu limits based on health compute cost
  bin/liquidator/src/liquidate.rs
  bin/liquidator/src/trigger_tcs.rs
  bin/settler/src/settle.rs
  bin/settler/src/tcs_start.rs
  lib/client/src/client.rs
  lib/client/src/context.rs
  lib/client/src/health_cache.rs
  lib/client/src/jupiter/v4.rs
  lib/client/src/jupiter/v6.rs
  lib/client/src/util.rs
  programs/mango-v4/tests/cases/test_perp.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/program_test/mango_client.rs
Labels: program

#757 FAQ for program development troubleshooting
  FAQ-DEV.md
  README.md
Labels: documentation

#771 Change conditions for perp settle incentive
  bin/settler/src/settle.rs
  programs/mango-v4/src/instructions/perp_settle_pnl.rs
  programs/mango-v4/src/state/perp_market.rs
  programs/mango-v4/tests/cases/test_perp_settle.rs
Labels: program

#775 program: even delegate can create token position
  programs/mango-v4/src/accounts_ix/token_deposit.rs
Labels: program

#773 cli: save-snapshot command
  Cargo.lock
  Cargo.toml
  bin/cli/Cargo.toml
  bin/cli/src/main.rs
  bin/cli/src/save_snapshot.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/src/state/mint_info.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/perp_market.rs
  programs/mango-v4/src/state/stable_price.rs
Labels: dependency, program

#782 TokenRegister: Add arg for group insurance fund flag
  mango_v4.json
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/lib.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#785 Reduce HealthCache heap use
  programs/mango-v4/src/health/cache.rs
Labels: program

#793 Bank: Close zero position when withdrawing 0
  programs/mango-v4/src/state/bank.rs
Labels: program

#787 Log emissions: Serialize to buffer on stack instead of using heap
  programs/mango-v4/src/instructions/account_buyback_fees_with_mngo.rs
  programs/mango-v4/src/instructions/compute_account_data.rs
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/instructions/perp_consume_events.rs
  programs/mango-v4/src/instructions/perp_create_market.rs
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/instructions/perp_force_close_position.rs
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/instructions/perp_liq_negative_pnl_or_bankruptcy.rs
  programs/mango-v4/src/instructions/perp_settle_fees.rs
  programs/mango-v4/src/instructions/perp_settle_pnl.rs
  programs/mango-v4/src/instructions/serum3_cancel_all_orders.rs
  programs/mango-v4/src/instructions/serum3_cancel_order.rs
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/serum3_register_market.rs
  programs/mango-v4/src/instructions/serum3_settle_funds.rs
  programs/mango-v4/src/instructions/token_conditional_swap_cancel.rs
  programs/mango-v4/src/instructions/token_conditional_swap_create.rs
  programs/mango-v4/src/instructions/token_conditional_swap_start.rs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/src/instructions/token_deposit.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_force_close_borrows_with_token.rs
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/instructions/token_update_index_and_rate.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/src/state/perp_market.rs
Labels: program

#733 ts: scripts for testing account shrink
  ts/client/scripts/archive/account-shrink/admin.ts
  ts/client/scripts/archive/account-shrink/user.ts
  ts/client/src/client.ts
Labels: client

#786 program: optimize cu usage in token deposit, by computing health only…
  programs/mango-v4/src/instructions/token_deposit.rs
Labels: program

#796 ts: tcs hasData was renamed to isConfigured
  ts/client/scripts/archive/conditional-swaps.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/client.ts
Labels: client

#799 deposit: remove debug output
  programs/mango-v4/src/instructions/token_deposit.rs
Labels: program
