Repository blockworks-foundation/mango-v4, pull requests merged in 2023-06, with the labels that each got.

#599 Add loan amount to WithdrawLoanLog. Add withdraw loan logging to toke…
  programs/mango-v4/src/instructions/serum3_settle_funds.rs
  programs/mango-v4/src/instructions/token_force_close_borrows_with_token.rs
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
Labels: program

#605 Override node-fetch 2.x dependency for a bugfix
  package.json
  yarn.lock
Labels: dependency

#603 Add price to WithdrawLoanLog
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_settle_funds.rs
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/logs.rs
Labels: program

#608 Audit fixes for the fee buyback feature
  programs/mango-v4/src/instructions/account_buyback_fees_with_mngo.rs
  programs/mango-v4/src/instructions/perp_consume_events.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/orderbook/mod.rs
Labels: program

#607 Pyth oracles: Check that status is "trading"
  programs/mango-v4/src/state/oracle.rs
Labels: program

#592 Health: Allow actions while init health does not decrease
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/tests/cases/test_perp.rs
  programs/mango-v4/tests/cases/test_serum.rs
Labels: program

#606 Deprecate Serum3SettleFunds, require use of V2 instruction
  lib/client/src/client.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
Labels: program, client

#591 mm rewards
  ts/client/scripts/mm-rewards-calculator.ts
Labels: client

#613 Ckamm/audit fixes2
  programs/mango-v4/src/instructions/perp_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/token_force_close_borrows_with_token.rs
Labels: program

#612 deploy->dev
  package.json
  ts/client/scripts/archive/devnet-user.ts
  ts/client/scripts/mm/market-maker.ts
  ts/client/src/accounts/perp.ts
  ts/client/src/client.ts
  ts/client/src/risk.ts
Labels: client

#610 add disclaimer to bots
  bin/liquidator/README.md
  ts/client/scripts/mm/README.md
Labels: client

#620 Stable Price: Reset on first price != 0
  programs/mango-v4/src/instructions/perp_create_market.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/state/stable_price.rs
Labels: program

#616 lisitng helpers
  ts/client/src/utils/listingTools.ts
Labels: client

#622 CI: workaround yarn install issue
  package.json
  yarn.lock
Labels: dependency
