Repository blockworks-foundation/mango-v4, pull requests merged in 2023-03, with the labels that each got.

#483 Perp: User-selected reduce-only behaves more intuitively
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/state/mango_account_components.rs
Labels: program

#488 support name edit for token and program
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#484 Serum settle funds V2: fees can go to users
  programs/mango-v4/src/accounts_ix/serum3_settle_funds.rs
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/serum3_settle_funds.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/serum3_cpi.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#493 Changelog for program-v0.8.0
  CHANGELOG.md
Labels: documentation

#489 buyback fees with mngo logging
  programs/mango-v4/src/instructions/account_buyback_fees_with_mngo.rs
  programs/mango-v4/src/logs.rs
  ts/client/src/mango_v4.ts
Labels: program, client

#497 Perp: More comments on fields and funding computation
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/src/state/perp_market.rs
Labels: program

#498 Add idl-compare script to check for binary incompatibilities
  .github/workflows/ci-code-review-rust.yml
  ts/client/scripts/idl-compare.ts
Labels: client

#492 Rename settle-bot to settler, fix build
  .github/workflows/ci-docker-publish.yml
  Dockerfile
  bin/settler/.env.example
  bin/settler/.gitignore
  bin/settler/Cargo.toml
  bin/settler/Dockerfile.settler
  bin/settler/src/main.rs
  bin/settler/src/metrics.rs
  bin/settler/src/settle.rs
  bin/settler/src/util.rs
Labels: devops

#491 Add oracleProvider to Bank and PerpMarket
  ts/client/src/accounts/bank.ts
  ts/client/src/accounts/group.ts
  ts/client/src/accounts/oracle.ts
  ts/client/src/accounts/perp.ts
Labels: client

#505 Fix null checks on getters for PerpMarket and Bank
  ts/client/src/accounts/bank.ts
  ts/client/src/accounts/perp.ts
  ts/client/src/index.ts
Labels: client

#503 token_liq_bankruptcy: Use oracle for valuing insurance fund tokens
  programs/mango-v4/src/instructions/perp_create_market.rs
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/tests/cases/test_bankrupt_tokens.rs
Labels: program

#509 refactor script
  ts/client/scripts/mb-create-gov-ix.ts
Labels: client

#514 add script to sim accounts with leverage change
  ts/client/scripts/mb-sim-accounts-with-param-change.ts
Labels: client

#513 Fix bug: only account for borrows we are offsetting
  programs/mango-v4/src/state/bank.rs
Labels: program

#520 Fix interest rate computation in client
  ts/client/src/accounts/bank.ts
Labels: client

#515 Use new shared mango-feeds-connector crate for chain_data
  Cargo.lock
  lib/client/Cargo.toml
  lib/client/src/account_update_stream.rs
  lib/client/src/chain_data.rs
  lib/client/src/chain_data_fetcher.rs
Labels: dependency

#526 in perp settle fees, dont error, rather return early, this enables blindly concatenating perp settle fees to perp settle pnl
  programs/mango-v4/src/instructions/perp_settle_fees.rs
Labels: program

#527 Net borrow limits: Use correct price for check
  programs/mango-v4/src/instructions/account_buyback_fees_with_mngo.rs
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/instructions/perp_liq_negative_pnl_or_bankruptcy.rs
  programs/mango-v4/src/instructions/perp_settle_fees.rs
  programs/mango-v4/src/instructions/perp_settle_pnl.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/cases/test_borrow_limits.rs
Labels: program

#528 Perp funding: Fix logging in update funding + deactivate pos
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/perp_market.rs
Labels: program

#523 sync rate params to latest proposal
  programs/mango-v4/src/instructions/token_register_trustless.rs
Labels: program

#529 Limit funding and interest accrual during downtimes
  programs/mango-v4/src/instructions/token_update_index_and_rate.rs
  programs/mango-v4/src/state/perp_market.rs
Labels: program
