Repository blockworks-foundation/mango-v4, pull requests merged in 2023-08, with the labels that each got.

#655 Fix typo in admin_token_withdraw_fees ix
  mango_v4.json
  programs/mango-v4/src/lib.rs
  ts/client/src/mango_v4.ts
Labels: program, client

#654 Tcs: Add price display style enum
  mango_v4.json
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#656 Clippy fixes
  programs/mango-v4/src/instructions/token_conditional_swap_cancel.rs
Labels: program

#657 Idl check: Also check struct and enum types
  ts/client/scripts/idl-compare.ts
Labels: client

#652 use indexed position in token conditional balance logs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
Labels: program

#646 Allow token withdraws even with stale oracles
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/instructions/perp_update_funding.rs
  programs/mango-v4/src/instructions/stub_oracle_create.rs
  programs/mango-v4/src/instructions/stub_oracle_set.rs
  programs/mango-v4/src/instructions/token_deposit.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/perp_market.rs
  programs/mango-v4/tests/cases/mod.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/cases/test_stale_oracles.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  programs/mango-v4/tests/program_test/mod.rs
Labels: program

#659 Tcs: Use fees config from Bank instead of Group
  mango_v4.json
  programs/mango-v4/src/instructions/group_edit.rs
  programs/mango-v4/src/instructions/token_conditional_swap_create.rs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/token_conditional_swap.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/create-gov-ix.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#667 Tcs: store a display-only intention enum
  mango_v4.json
  programs/mango-v4/src/instructions/token_conditional_swap_create.rs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/liqtest/liqtest-make-tcs-candidates.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#668 liquidator: Add telemetry
  Cargo.lock
  bin/liquidator/.env.example
  bin/liquidator/Cargo.toml
  bin/liquidator/README.md
  bin/liquidator/src/main.rs
  bin/liquidator/src/telemetry.rs
  lib/client/src/client.rs
Labels: dependency

#663 Delegate with expiry
  mango_v4.json
  programs/mango-v4/src/instructions/account_edit.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/mango_account.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#660 FlashLoan swaps: Allow charging a fee
  mango_v4.json
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/create-gov-ix.ts
  ts/client/src/accounts/bank.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#637 Leverage & Balance Sheet helpers
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/health/client.rs
Labels: program

#665 Pass all params to token_register
  mango_v4.json
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/archive/devnet-admin.ts
  ts/client/scripts/archive/mb-admin.ts
  ts/client/scripts/create-gov-ix.ts
  ts/client/scripts/liqtest/liqtest-create-group.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#670 liquidator: execute tcs with volume-weighted randomness
  bin/liquidator/src/liquidate.rs
  bin/liquidator/src/main.rs
  bin/liquidator/src/trigger_tcs.rs
  bin/liquidator/src/util.rs
  lib/client/src/chain_data_fetcher.rs
  lib/client/src/health_cache.rs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/src/state/token_conditional_swap.rs
Labels: program

#675 Oracles: Fix units of deviation in OracleState
  programs/mango-v4/src/state/oracle.rs
Labels: program

#678 listing fixes
  programs/mango-v4/src/instructions/token_register_trustless.rs
  ts/client/src/utils/listingTools.ts
Labels: program, client

#662 Add estimatePrioritizationFee to the ts client
  package.json
  ts/client/src/client.ts
  ts/client/src/constants/index.ts
  yarn.lock
Labels: dependency, client

#680 Add account_create_v2 instruction
  mango_v4.json
  programs/mango-v4/src/instructions/account_create.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/mango_v4.ts
Labels: program, client

#681 FlashLoan: Allow mango ix after flash loan end
  programs/mango-v4/src/instructions/flash_loan.rs
Labels: program

#683 Changelog and version bump for program v0.19.0
  CHANGELOG.md
  Cargo.lock
  mango_v4.json
  programs/mango-v4/Cargo.toml
  ts/client/src/mango_v4.ts
Labels: documentation, dependency, program, client

#685 account_create_v2: fix bad account size
  programs/mango-v4/src/accounts_ix/account_create.rs
  programs/mango-v4/src/instructions/account_create.rs
  programs/mango-v4/src/lib.rs
Labels: program

#686 Restrict account growth
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/tests/cases/test_bankrupt_tokens.rs
  programs/mango-v4/tests/cases/test_basic.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_liq_perps_bankruptcy.rs
  programs/mango-v4/tests/cases/test_liq_tokens.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/cases/test_position_lifetime.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  programs/mango-v4/tests/program_test/mango_setup.rs
  ts/client/scripts/create-gov-ix.ts
  ts/client/src/client.ts
Labels: program, client

#688 Account size: Don't fail on unrelated resize
  lib/client/src/client.rs
  programs/mango-v4/src/accounts_ix/account_create.rs
  programs/mango-v4/src/instructions/account_create.rs
  programs/mango-v4/src/instructions/account_expand.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/tests/cases/test_basic.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
Labels: program, client

#689 Account limits: Prefer 4 perp + 4 serum
  CHANGELOG.md
  lib/client/src/client.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/tests/cases/test_basic.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
Labels: documentation, program, client

#687 ci: add yarn duplicates check
  .github/workflows/ci-code-review-ts.yml
  package.json
  yarn.lock
Labels: dependency

#690 Improve CU benchmarks
  Cargo.lock
  programs/mango-v4/Cargo.toml
  programs/mango-v4/src/instructions/benchmark.rs
  programs/mango-v4/tests/cases/test_benchmark.rs
  programs/mango-v4/tests/program_test/mod.rs
Labels: dependency, program

#693 FlashLoan: fee fixes
  CHANGELOG.md
  mango_v4.json
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/create-gov-ix.ts
  ts/client/src/accounts/bank.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: documentation, program, client

#694 Account expansion: Transfer more lamports only if needed
  CHANGELOG.md
  programs/mango-v4/src/instructions/account_expand.rs
Labels: documentation, program

#696 FlashLoan: Log the approved amount
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/logs.rs
Labels: program
