Repository blockworks-foundation/mango-v4, pull requests merged in 2023-02, with the labels that each got.

#428 Perps: Rename pnl_asset_weight -> overall_asset_weight
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/health/test.rs
  programs/mango-v4/src/instructions/perp_create_market.rs
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/perp_market.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/accounts/healthCache.spec.ts
  ts/client/src/accounts/healthCache.ts
  ts/client/src/accounts/perp.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#427 Add explicit self-liquidation checks
  programs/mango-v4/src/instructions/perp_liq_base_position.rs
  programs/mango-v4/src/instructions/perp_liq_quote_and_bankruptcy.rs
  programs/mango-v4/src/instructions/perp_settle_pnl.rs
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
Labels: program

#424 fix liquidating perp base positions with 0 overall perp weight
  client/src/client.rs
  liquidator/src/liquidate.rs
  liquidator/src/rebalance.rs
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/health/mod.rs
  programs/mango-v4/src/health/test.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/perp_create_market.rs
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/instructions/perp_liq_base_position.rs
  programs/mango-v4/src/instructions/perp_liq_negative_pnl_or_bankruptcy.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/src/state/perp_market.rs
  programs/mango-v4/tests/cases/mod.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_liq_perps.rs
  programs/mango-v4/tests/cases/test_liq_perps_bankruptcy.rs
  programs/mango-v4/tests/cases/test_liq_perps_base_and_bankruptcy.rs
  programs/mango-v4/tests/cases/test_liq_perps_force_cancel.rs
  programs/mango-v4/tests/cases/test_liq_perps_positive_pnl.rs
  programs/mango-v4/tests/cases/test_perp.rs
  programs/mango-v4/tests/cases/test_perp_settle.rs
  programs/mango-v4/tests/cases/test_perp_settle_fees.rs
  programs/mango-v4/tests/cases/test_reduce_only.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/accounts/perp.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
  ts/client/src/scripts/devnet-admin.ts
  ts/client/src/scripts/mb-admin.ts
  ts/client/src/scripts/mb-liqtest-create-group.ts
Labels: program, client, liquidator

#426 Perp: Reorganize fill events, add client order id to LeafNodes
  programs/mango-v4/src/instructions/perp_consume_events.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/src/state/orderbook/bookside.rs
  programs/mango-v4/src/state/orderbook/mod.rs
  programs/mango-v4/src/state/orderbook/nodes.rs
  programs/mango-v4/src/state/orderbook/ordertree.rs
  programs/mango-v4/src/state/orderbook/queue.rs
Labels: program

#429 Add market index to Serum3OpenOrdersBalanceLog
  programs/mango-v4/src/instructions/serum3_cancel_all_orders.rs
  programs/mango-v4/src/instructions/serum3_cancel_order.rs
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/serum3_settle_funds.rs
  programs/mango-v4/src/logs.rs
  ts/client/src/mango_v4.ts
Labels: program, client

#432 ts: Use sendAndConfirmTransaction instead of anchor's .rpc()
  ts/client/src/client.ts
  ts/client/src/scripts/mb-admin-close.ts
  ts/client/src/scripts/mb-liqtest-create-group.ts
  ts/client/src/scripts/mb-liqtest-make-candidates.ts
  ts/client/src/scripts/mb-liqtest-settle-and-close-all.ts
Labels: client

#433 Rust client: Add prioritization fee option
  cli/src/main.rs
  client/src/client.rs
  keeper/src/main.rs
  liquidator/src/main.rs
Labels: liquidator, keeper

#434 ts: add back tokenWithdrawNative()
  ts/client/src/client.ts
  ts/client/src/scripts/devnet-user-close-account.ts
  ts/client/src/scripts/mb-close-account.ts
  ts/client/src/scripts/mb-liqtest-make-candidates.ts
Labels: client

#437 update serum to most recent openbook version
  Cargo.lock
  cli/Cargo.toml
  client/Cargo.toml
  keeper/Cargo.toml
  liquidator/Cargo.toml
  programs/mango-v4/Cargo.toml
Labels: dependency, program, liquidator, keeper

#438 Enable release-mode overflow checks
  Cargo.toml
  programs/mango-v4/src/instructions/benchmark.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
Labels: program

#430 remove perp zero out, was only added to cleanup testing perp market, …
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/perp_zero_out.rs
  programs/mango-v4/src/lib.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#440 Liquidation: Fix amounts when stable price != oracle price
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/tests/cases/test_liq_perps_positive_pnl.rs
Labels: program

#443 CI: Fix soteria action
  .github/workflows/ci-soteria.yml
Labels: ci

#446 fix log amount in token deposit
  programs/mango-v4/src/instructions/token_deposit.rs
Labels: program

#445 update settle limit before returning settleable pnl
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/accounts/perp.ts
Labels: client

#449 upgrade a bunch of ts packages
  package.json
  yarn.lock
Labels: dependency

#448 Ckamm/liq target health ts 2
  ts/client/src/accounts/bank.ts
  ts/client/src/accounts/healthCache.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/mango_v4.ts
Labels: client

#447 Change liquidation end target to a new, third health type
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/instructions/health_region.rs
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/instructions/perp_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/perp_liq_negative_pnl_or_bankruptcy.rs
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/instructions/perp_settle_pnl.rs
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/token_deposit.rs
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/accounts/bank.ts
  ts/client/src/accounts/healthCache.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#451 exclude perp oracle pk from helthaccount during close account inst
  ts/client/src/client.ts
Labels: client

#452 restrict what a security admin can do
  programs/mango-v4/src/instructions/account_toggle_freeze.rs
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/instructions/token_edit.rs
Labels: program

#453 Perp cancel all: Don't error when orders are filled/expired
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/account_retriever.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/instructions/perp_cancel_order.rs
  programs/mango-v4/src/instructions/perp_cancel_order_by_client_order_id.rs
  programs/mango-v4/src/instructions/perp_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/tests/cases/test_perp.rs
Labels: program

#455 dont try to update mngo-perp-old since its in reduce only with no oi
  keeper/src/crank.rs
Labels: keeper

#456 Readme: Try to add a licensing summary.
  DEVELOPING.md
  README.md
Labels: documentation

#460 fix fillevent type in client
  ts/client/src/accounts/perp.ts
Labels: client

#462 Client: Print the error kind on simulation failure
  client/src/client.rs
  liquidator/src/main.rs
Labels: liquidator

#463 Liquidator: don't exit immediately
  liquidator/src/main.rs
Labels: liquidator

#466 Organize paths, rename crates
  .github/workflows/ci-docker-publish.yml
  Cargo.lock
  Cargo.toml
  bin/cli/Cargo.toml
  bin/cli/src/main.rs
  bin/keeper/.env.example
  bin/keeper/Cargo.toml
  bin/keeper/Dockerfile.keeper
  bin/keeper/src/crank.rs
  bin/keeper/src/main.rs
  bin/keeper/src/taker.rs
  bin/liquidator/.env.example
  bin/liquidator/.gitignore
  bin/liquidator/Cargo.toml
  bin/liquidator/Dockerfile.liquidator
  bin/liquidator/src/liquidate.rs
  bin/liquidator/src/main.rs
  bin/liquidator/src/metrics.rs
  bin/liquidator/src/rebalance.rs
  bin/liquidator/src/util.rs
  bin/settle-bot/.env.example
  bin/settle-bot/.gitignore
  bin/settle-bot/Cargo.toml
  bin/settle-bot/Dockerfile.settle-bot
  bin/settle-bot/src/main.rs
  bin/settle-bot/src/metrics.rs
  bin/settle-bot/src/settle.rs
  bin/settle-bot/src/util.rs
  lib/client/Cargo.toml
  lib/client/src/account_fetcher.rs
  lib/client/src/account_update_stream.rs
  lib/client/src/chain_data.rs
  lib/client/src/chain_data_fetcher.rs
  lib/client/src/client.rs
  lib/client/src/context.rs
  lib/client/src/gpa.rs
  lib/client/src/health_cache.rs
  lib/client/src/jupiter.rs
  lib/client/src/lib.rs
  lib/client/src/perp_pnl.rs
  lib/client/src/snapshot_source.rs
  lib/client/src/util.rs
  lib/client/src/websocket_source.rs
Labels: dependency

#467 support 32 perp oo by default
  ts/client/src/client.ts
Labels: client

#468 Perp place order: more logging for reduce only
  programs/mango-v4/src/instructions/perp_place_order.rs
Labels: program

#471 Ts/client fixes
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/accounts/perp.ts
Labels: client

#470 Update package.json build steps and move js scripts out of src folder
  anchor-tests/test.ts
  migrations/deploy.ts
  package.json
  ts/client/scripts/debug-scripts/debug-banks.ts
  ts/client/scripts/debug-scripts/debug-perp.ts
  ts/client/scripts/debug-scripts/debug-user.ts
  ts/client/scripts/decode-event.ts
  ts/client/scripts/devnet-admin-close.ts
  ts/client/scripts/devnet-admin.ts
  ts/client/scripts/devnet-user-2.ts
  ts/client/scripts/devnet-user-close-account.ts
  ts/client/scripts/devnet-user.ts
  ts/client/scripts/mb-add-spot-market.ts
  ts/client/scripts/mb-admin-close.ts
  ts/client/scripts/mb-admin.ts
  ts/client/scripts/mb-close-account.ts
  ts/client/scripts/mb-force-close-account.ts
  ts/client/scripts/mb-liqtest-create-group.ts
  ts/client/scripts/mb-liqtest-make-candidates.ts
  ts/client/scripts/mb-liqtest-settle-and-close-all.ts
  ts/client/scripts/mb-user.ts
  ts/client/scripts/mm/log-perp-ob.ts
  ts/client/scripts/mm/market-maker.ts
  ts/client/scripts/mm/params/default.json
  ts/client/scripts/mm/sequence-enforcer-util.ts
  ts/client/scripts/mm/taker.ts
  ts/client/src/accounts/bank.ts
  ts/client/src/accounts/group.ts
  ts/client/src/accounts/healthCache.spec.ts
  ts/client/src/accounts/healthCache.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/accounts/perp.ts
  ts/client/src/accounts/serum3.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/constants/index.ts
  ts/client/src/index.ts
  ts/client/src/types.ts
  ts/client/src/utils.ts
  ts/client/src/utils/rpc.ts
  ts/client/src/utils/spl.ts
  tsconfig.build.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
  tsconfig.types.json
  yarn.lock
Labels: dependency, client

#472 security admin can move openbook market to reduce only
  programs/mango-v4/src/accounts_ix/serum3_edit_market.rs
  programs/mango-v4/src/instructions/serum3_edit_market.rs
Labels: program

#473 tsconfig fix for ts-node scripts
  package.json
  tsconfig.json
  yarn.lock
Labels: dependency

#469 Serum: Track referrer rebates as Mango platform fees
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/serum3_settle_funds.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/equity.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/fixtures/serum_dex.so
  programs/mango-v4/tests/program_test/serum.rs
Labels: program

#475 Dependency updates for bzip2 and openssl-src
  Cargo.lock
Labels: dependency

#474 ts: add function on perp position to get notional value
  ts/client/src/accounts/mangoAccount.ts
Labels: client

#464 buyback perp fees with mngo at a discount
  programs/mango-v4/src/accounts_ix/account_buyback_fees_with_mngo.rs
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/instructions/account_buyback_fees_with_mngo.rs
  programs/mango-v4/src/instructions/benchmark.rs
  programs/mango-v4/src/instructions/group_edit.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/tests/cases/mod.rs
  programs/mango-v4/tests/cases/test_fees_buyback_with_mngo.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/accounts/bank.ts
  ts/client/src/accounts/group.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#478 Buyback fees: Add staggered expiry
  programs/mango-v4/src/instructions/account_buyback_fees_with_mngo.rs
  programs/mango-v4/src/instructions/group_edit.rs
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/tests/cases/test_fees_buyback_with_mngo.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/token-spec.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#477 admins can also register trustless tokens
  programs/mango-v4/src/accounts_ix/token_register_trustless.rs
Labels: program

#479 Fee buyback: Credit only perp fees that go to the dao
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/tests/cases/test_fees_buyback_with_mngo.rs
Labels: program

#481 Fees buyback: Credit users for ui part of serum fees
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/serum3_settle_funds.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/program_test/mod.rs
Labels: program

#482 Security admin: Allow disabling token/perp init collateral
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/instructions/token_edit.rs
Labels: program

#480 ts client for max buyback of fees with mngo
  ts/client/src/accounts/group.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/client.ts
Labels: client
