Repository blockworks-foundation/mango-v4, pull requests merged in 2023-04, with the labels that each got.

#531 Don't reload OpenOrders if there's no active markets
  ts/client/src/accounts/mangoAccount.ts
Labels: client

#530 Emit perp fees settled on update_funding. Required to have a full pic…
  mango_v4.json
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/perp_market.rs
  ts/client/src/mango_v4.ts
Labels: program, client

#534 Net borrow limit: Separate out tracking and checking
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/instructions/account_buyback_fees_with_mngo.rs
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/instructions/perp_liq_negative_pnl_or_bankruptcy.rs
  programs/mango-v4/src/instructions/perp_settle_fees.rs
  programs/mango-v4/src/instructions/perp_settle_pnl.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/cases/test_borrow_limits.rs
  programs/mango-v4/tests/cases/test_perp_settle_fees.rs
Labels: program

#536 Don't incentivise using asset tokens with high liquidation fee during liquidation
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/tests/cases/test_bankrupt_tokens.rs
  programs/mango-v4/tests/cases/test_liq_tokens.rs
  programs/mango-v4/tests/cases/test_perp_settle_fees.rs
Labels: program

#518 force close tokens program part
  mango_v4.json
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/accounts_ix/token_force_close_borrows_with_token.rs
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/token_deposit.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_force_close_borrows_with_token.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/tests/cases/mod.rs
  programs/mango-v4/tests/cases/test_force_close.rs
  programs/mango-v4/tests/cases/test_reduce_only.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/create-gov-ix.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#537 Add notes on how to release
  RELEASING.md
  release-to-dao-buffer.sh
Labels: documentation

#535 Clarkeni/perp trade logging
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/instructions/perp_update_funding.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/src/state/perp_market.rs
Labels: program

#542 FlashLoan: Don't deduce vault_len, add more checks
  lib/client/src/client.rs
  mango_v4.json
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#540 IxGate: Fix check for re-enabling instructions
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/tests/cases/test_ix_gate_set.rs
  programs/mango-v4/tests/program_test/mango_client.rs
Labels: program

#543 Changelog for program v0.13.0
  CHANGELOG.md
Labels: documentation

#539 Script to check token params for risk
  ts/client/scripts/param-check.ts
Labels: client

#538 merge ts-client to dev
  package.json
  ts/client/scripts/archive/devnet-user.ts
  ts/client/src/accounts/perp.ts
Labels: client

#522 Fix bug where if no insurance fund position was present, ix would err…
  lib/client/src/client.rs
  lib/client/src/context.rs
  ts/client/scripts/mm/README.md
Labels: client

#549 Use ghcr.io container registry
  .github/workflows/ci-docker-fly-deploy.yml
  .github/workflows/ci-docker-publish.yml
  Dockerfile
  bin/keeper/Dockerfile.keeper
  bin/liquidator/Dockerfile.liquidator
  bin/settler/Dockerfile.settler
Labels: devops

#541 Spot based token rebalancer
  Cargo.lock
  Procfile
  ts/client/scripts/archive/mb-admin.ts
  ts/client/scripts/create-gov-ix.ts
  ts/client/scripts/rebalancer.ts
  ts/client/src/accounts/serum3.ts
  ts/client/src/client.ts
Labels: dependency, client

#551 Force close for serum3 market
  programs/mango-v4/src/accounts_ix/perp_force_close_position.rs
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/instructions/perp_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/perp_liq_negative_pnl_or_bankruptcy.rs
  programs/mango-v4/src/instructions/serum3_edit_market.rs
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_register_market.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/serum3_market.rs
  ts/client/src/accounts/serum3.ts
Labels: program, client

#557 Fix account borrow issue in perp_liq_force_cancel_orders
  programs/mango-v4/src/instructions/perp_liq_force_cancel_orders.rs
Labels: program

#559 Fix bug in closing mango account
  ts/client/src/client.ts
  ts/client/src/utils/rpc.ts
Labels: client

#561 insurance fund withdraw ix
  programs/mango-v4/src/accounts_ix/group_withdraw_insurance_fund.rs
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/instructions/group_withdraw_insurance_fund.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/group.rs
  ts/client/src/clientIxParamBuilder.ts
Labels: program, client

#562 Fix settle limit accounting for positive pnl takeover
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/state/mango_account_components.rs
Labels: program

#555 Add PerpForceClosePositionLog and TokenForceCloseBorrowsWithTokenLog
  mango_v4.json
  programs/mango-v4/src/instructions/perp_force_close_position.rs
  programs/mango-v4/src/instructions/token_force_close_borrows_with_token.rs
  programs/mango-v4/src/logs.rs
  ts/client/src/mango_v4.ts
Labels: program, client

#556 Fix to seq num logging. Seq num was incremented between event and log…
  mango_v4.json
  programs/mango-v4/src/state/orderbook/book.rs
  ts/client/src/mango_v4.ts
Labels: program, client
