Repository blockworks-foundation/mango-v4, pull requests merged in 2023-12, with the labels that each got.

#790 Add fallback oracles
  bin/service-mango-orderbook/src/orderbook_filter.rs
  lib/client/src/health_cache.rs
  programs/mango-v4/src/accounts_ix/stub_oracle_create.rs
  programs/mango-v4/src/accounts_ix/token_edit.rs
  programs/mango-v4/src/accounts_ix/token_register.rs
  programs/mango-v4/src/accounts_ix/token_register_trustless.rs
  programs/mango-v4/src/health/account_retriever.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/serum3_cpi.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/mint_info.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/perp_market.rs
  programs/mango-v4/tests/cases/test_basic.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/cases/test_perp_settle.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/cases/test_stale_oracles.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  programs/mango-v4/tests/program_test/mango_setup.rs
Labels: program

#803 Disable TokenAddBank instruction
  programs/mango-v4/src/accounts_ix/token_add_bank.rs
Labels: program

#804 revert trustless token registration params to conservative defaults
  programs/mango-v4/src/instructions/token_register_trustless.rs
Labels: program

#805 Openbook token tracking and price bands
  mango_v4.json
  programs/mango-v4/src/accounts_ix/serum3_place_order.rs
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/instructions/health_region.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/serum3_edit_market.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/serum3_register_market.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/src/state/serum3_market.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#806 Deposit limits
  bin/liquidator/src/liquidate.rs
  bin/liquidator/src/trigger_tcs.rs
  bin/liquidator/src/util.rs
  mango_v4.json
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/token_conditional_swap_start.rs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/src/instructions/token_deposit.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/cases/test_basic.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  programs/mango-v4/tests/program_test/utils.rs
  ts/client/src/accounts/bank.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#809 Changelog for v0.21
  CHANGELOG.md
Labels: documentation

#810 adjust token_register_trustless params
  programs/mango-v4/src/instructions/token_register_trustless.rs
Labels: program

#814 update idl and client tokenEdit()
  mango_v4.json
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: client

#816 test: Add one for migrating interest rates for v0.21
  programs/mango-v4/tests/cases/test_token_update_index_and_rate.rs
  programs/mango-v4/tests/program_test/solana.rs
Labels: program

#819 Add doc comments for new fields
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/group.rs
Labels: program

#801 Use custom allocator for the program
  programs/mango-v4/Cargo.toml
  programs/mango-v4/src/allocator.rs
  programs/mango-v4/src/lib.rs
Labels: program

#817 Perp: Always allow users to free perp open order slots
  programs/mango-v4/src/instructions/perp_cancel_all_orders.rs
  programs/mango-v4/src/instructions/perp_cancel_all_orders_by_side.rs
  programs/mango-v4/src/instructions/perp_cancel_order.rs
  programs/mango-v4/src/instructions/perp_cancel_order_by_client_order_id.rs
  programs/mango-v4/src/instructions/perp_consume_events.rs
  programs/mango-v4/src/instructions/perp_liq_force_cancel_orders.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/src/state/orderbook/queue.rs
  programs/mango-v4/tests/cases/test_perp.rs
Labels: program

#818 test: Add interest rate test
  programs/mango-v4/src/state/bank.rs
Labels: program

#820 Allow delegates to withdraw small token amounts
  programs/mango-v4/src/accounts_ix/token_withdraw.rs
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/tests/cases/test_delegate.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/program_test/mod.rs
Labels: program

#825 Liquidation: Use asset and liab liq fee
  programs/mango-v4/src/instructions/token_force_close_borrows_with_token.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/tests/cases/test_bankrupt_tokens.rs
  programs/mango-v4/tests/cases/test_liq_tokens.rs
Labels: program
