Repository blockworks-foundation/mango-v4, pull requests merged in 2023-07, with the labels that each got.

#629 Token bankruptcy: Separate checks
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
Labels: program

#604 wip: Token conditional swaps
  bin/keeper/src/taker.rs
  bin/liquidator/src/liquidate.rs
  bin/liquidator/src/main.rs
  bin/liquidator/src/rebalance.rs
  bin/liquidator/src/token_swap_info.rs
  bin/liquidator/src/trigger_tcs.rs
  bin/liquidator/src/util.rs
  lib/client/src/client.rs
  lib/client/src/lib.rs
  mango_v4.json
  programs/mango-v4/src/accounts_ix/account_and_authority.rs
  programs/mango-v4/src/accounts_ix/account_create.rs
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/accounts_ix/token_conditional_swap_create.rs
  programs/mango-v4/src/accounts_ix/token_conditional_swap_trigger.rs
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/instructions/account_create.rs
  programs/mango-v4/src/instructions/account_expand.rs
  programs/mango-v4/src/instructions/group_edit.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/token_conditional_swap_cancel.rs
  programs/mango-v4/src/instructions/token_conditional_swap_create.rs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/src/state/mod.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/orderbook/book.rs
  programs/mango-v4/src/state/orderbook/mod.rs
  programs/mango-v4/src/state/orderbook/ordertree.rs
  programs/mango-v4/src/state/orderbook/queue.rs
  programs/mango-v4/src/state/stable_price.rs
  programs/mango-v4/src/state/token_conditional_swap.rs
  programs/mango-v4/tests/cases/mod.rs
  programs/mango-v4/tests/cases/test_basic.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/archive/conditional-swaps.ts
  ts/client/scripts/archive/devnet-user-2.ts
  ts/client/scripts/archive/devnet-user.ts
  ts/client/scripts/archive/mb-admin.ts
  ts/client/scripts/archive/mb-user.ts
  ts/client/scripts/create-gov-ix.ts
  ts/client/scripts/liqtest/liqtest-check-tcs.ts
  ts/client/scripts/liqtest/liqtest-create-tokens-and-markets.ts
  ts/client/scripts/liqtest/liqtest-make-tcs-candidates.ts
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#631 Pyth: Read agg.price or prev_price, depending on staleness
  Cargo.lock
  Cargo.toml
  bin/cli/Cargo.toml
  bin/cli/src/main.rs
  bin/cli/src/test_oracles.rs
  bin/keeper/src/taker.rs
  lib/client/src/client.rs
  lib/client/src/context.rs
  programs/mango-v4/src/state/oracle.rs
Labels: dependency, program

#624 Use FillEventLog3 for closed pnl logging
  programs/mango-v4/src/instructions/perp_consume_events.rs
  programs/mango-v4/src/logs.rs
Labels: program

#634 Tcs: Switch prices from f32 to f64
  mango_v4.json
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/mango_v4.ts
Labels: program, client

#636 Changelog for v0.18.0
  CHANGELOG.md
Labels: documentation

#639 Flash loan: Better errors for missing banks
  programs/mango-v4/src/instructions/flash_loan.rs
Labels: program

#628 Openbook v2 integration
  Cargo.lock
  mango_v4.json
  programs/mango-v4/Cargo.toml
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_cancel_order.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_close_open_orders.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_create_open_orders.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_deregister_market.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_edit_market.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_liq_force_cancel_orders.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_place_order.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_place_take_order.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_register_market.rs
  programs/mango-v4/src/accounts_ix/openbook_v2_settle_funds.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/mod.rs
  programs/mango-v4/src/state/openbook_v2_market.rs
  ts/client/src/mango_v4.ts
Labels: dependency, program, client

#641 Logging improvements (primarily liquidator)
  Cargo.lock
  bin/cli/Cargo.toml
  bin/cli/src/main.rs
  bin/cli/src/test_oracles.rs
  bin/keeper/Cargo.toml
  bin/keeper/src/crank.rs
  bin/keeper/src/main.rs
  bin/keeper/src/taker.rs
  bin/liquidator/Cargo.toml
  bin/liquidator/src/liquidate.rs
  bin/liquidator/src/main.rs
  bin/liquidator/src/metrics.rs
  bin/liquidator/src/rebalance.rs
  bin/liquidator/src/token_swap_info.rs
  bin/liquidator/src/trigger_tcs.rs
  bin/settler/Cargo.toml
  bin/settler/src/main.rs
  bin/settler/src/metrics.rs
  bin/settler/src/settle.rs
  lib/client/Cargo.toml
  lib/client/src/account_update_stream.rs
  lib/client/src/snapshot_source.rs
  lib/client/src/util.rs
  lib/client/src/websocket_source.rs
Labels: dependency

#644 Fees to dao
  programs/mango-v4/src/accounts_ix/admin_perp_withdraw_fees.rs
  programs/mango-v4/src/accounts_ix/admin_token_withdraw_fees.rs
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/instructions/admin_perp_withdraw_fees.rs
  programs/mango-v4/src/instructions/admin_withdraw_token_fees.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/perp_market.rs
  ts/client/src/clientIxParamBuilder.ts
Labels: program, client

#645 Compile and test fix
  programs/mango-v4/src/instructions/perp_create_market.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/tests/cases/test_ix_gate_set.rs
Labels: program

#647 tcs reserve token positions while tcs are open
  mango_v4.json
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/accounts_ix/token_conditional_swap_cancel.rs
  programs/mango-v4/src/instructions/serum3_close_open_orders.rs
  programs/mango-v4/src/instructions/serum3_create_open_orders.rs
  programs/mango-v4/src/instructions/token_conditional_swap_cancel.rs
  programs/mango-v4/src/instructions/token_conditional_swap_create.rs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client
