Repository blockworks-foundation/mango-v4, pull requests merged in 2023-10, with the labels that each got.

#736 program: if position is not negative then continue ahead with withdra…
  programs/mango-v4/src/instructions/token_withdraw.rs
Labels: program

#737 FlashLoan: Allow jup v6 for delegates
  programs/mango-v4/src/accounts_ix/flash_loan.rs
  programs/mango-v4/src/instructions/flash_loan.rs
Labels: program

#734 program: be more relaxed with max rate
  programs/mango-v4/src/state/bank.rs
Labels: program

#739 Changelog for v0.20.0
  CHANGELOG.md
  Cargo.lock
  mango_v4.json
  programs/mango-v4/Cargo.toml
  ts/client/src/mango_v4.ts
Labels: documentation, dependency, program, client

#744 FlashLoanSwapBegin: small tx-size FlashLoanBegin for swaps
  CHANGELOG.md
  programs/mango-v4/src/accounts_ix/flash_loan.rs
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/program_test/mango_client.rs
Labels: program

#717 Tcs: linear and premium auctions
  bin/liquidator/src/main.rs
  bin/liquidator/src/token_swap_info.rs
  bin/liquidator/src/trigger_tcs.rs
  bin/settler/src/main.rs
  bin/settler/src/tcs_start.rs
  lib/client/src/chain_data_fetcher.rs
  lib/client/src/client.rs
  lib/client/src/context.rs
  lib/client/src/error_tracking.rs
  lib/client/src/lib.rs
  mango_v4.json
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/accounts_ix/token_conditional_swap_start.rs
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/token_conditional_swap_cancel.rs
  programs/mango-v4/src/instructions/token_conditional_swap_create.rs
  programs/mango-v4/src/instructions/token_conditional_swap_start.rs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/token_conditional_swap.rs
  programs/mango-v4/tests/cases/mod.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/cases/test_token_update_index_and_rate.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  programs/mango-v4/tests/program_test/solana.rs
  ts/client/scripts/mainnet-no-margin-group.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#602 Add getCumulativeFunding to client.
  ts/client/src/accounts/mangoAccount.ts
Labels: client

#748 liquidator: improve jupiter quote cache
  bin/liquidator/src/trigger_tcs.rs
  ts/client/scripts/mainnet-no-margin-group.ts
Labels: client

#749 program-test improvements: performance, cu test output, warnings
  programs/mango-v4/src/instructions/benchmark.rs
  programs/mango-v4/tests/cases/test_benchmark.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_health_region.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  programs/mango-v4/tests/program_test/mod.rs
  programs/mango-v4/tests/program_test/solana.rs
Labels: program

#751 v0.20.0 minor fixes from self-audit
  bin/settler/src/tcs_start.rs
  mango_v4.json
  programs/mango-v4/src/accounts_ix/token_conditional_swap_create.rs
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/token_conditional_swap_start.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/token_conditional_swap.rs
  ts/client/scripts/mainnet-no-margin-group.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#754 FlashLoan: Replace deposit fee by "swap fee"
  mango_v4.json
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/create-gov-ix.ts
  ts/client/src/accounts/bank.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#755 Bank: store interest curve scale and target util separately
  mango_v4.json
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/instructions/token_update_index_and_rate.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#756 Group: Limit fast-listing tokens per week
  mango_v4.json
  programs/mango-v4/src/accounts_ix/token_register_trustless.rs
  programs/mango-v4/src/instructions/group_edit.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#760 program: update trustless token registration interest rates and lever…
  programs/mango-v4/src/instructions/token_register_trustless.rs
Labels: program

#767 Address audit comments
  bin/settler/src/tcs_start.rs
  lib/client/src/client.rs
  mango_v4.json
  programs/mango-v4/src/accounts_ix/token_conditional_swap_start.rs
  programs/mango-v4/src/instructions/token_conditional_swap_start.rs
  programs/mango-v4/src/instructions/token_conditional_swap_trigger.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/mango_v4.ts
Labels: program, client
