Repository blockworks-foundation/mango-v4, pull requests merged in 2023-01, with the labels that each got.

#411 abort if new tokens or perp markets listed
  client/src/context.rs
  keeper/src/crank.rs
  keeper/src/main.rs
Labels: keeper

#412 Perp: Clarify has_open_orders use during liquidation
  liquidator/src/liquidate.rs
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/instructions/perp_liq_base_position.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/state/mango_account_components.rs
Labels: program, liquidator

#414 client support for security admin
  ts/client/src/accounts/group.ts
  ts/client/src/scripts/mb-admin.ts
Labels: client

#413 zero out perp position and orders for a broken market
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/perp_zero_out.rs
  programs/mango-v4/src/lib.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#415 group level token deposit limit
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/instructions/group_edit.rs
  programs/mango-v4/src/instructions/token_deposit.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/group.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#394 security admin can bring markets to reduce only
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/instructions/token_edit.rs
  ts/client/src/mango_v4.ts
Labels: program

#420 PerpEditMarket: Fix permission for oracle change
  programs/mango-v4/src/instructions/perp_edit_market.rs
Labels: program

#421 Token deposit: put expensive computation behind gates
  programs/mango-v4/src/instructions/token_deposit.rs
Labels: program

#422 Add v0.4.0 changelog
  CHANGELOG.md
Labels: documentation

#418 log old and new in edit ixs
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/instructions/serum3_edit_market.rs
  programs/mango-v4/src/instructions/token_edit.rs
Labels: program

#417 return order id from a perp place order ix
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/orderbook/book.rs
  ts/client/src/client.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#423 logging + prevention of setting admin to default pk
  programs/mango-v4/src/instructions/group_edit.rs
Labels: program

#419 Mc/ix toggler
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/instructions/account_close.rs
  programs/mango-v4/src/instructions/account_create.rs
  programs/mango-v4/src/instructions/account_edit.rs
  programs/mango-v4/src/instructions/account_expand.rs
  programs/mango-v4/src/instructions/account_toggle_freeze.rs
  programs/mango-v4/src/instructions/alt_extend.rs
  programs/mango-v4/src/instructions/alt_set.rs
  programs/mango-v4/src/instructions/flash_loan.rs
  programs/mango-v4/src/instructions/group_close.rs
  programs/mango-v4/src/instructions/group_toggle_halt.rs
  programs/mango-v4/src/instructions/health_region.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/perp_cancel_all_orders.rs
  programs/mango-v4/src/instructions/perp_cancel_all_orders_by_side.rs
  programs/mango-v4/src/instructions/perp_cancel_order.rs
  programs/mango-v4/src/instructions/perp_cancel_order_by_client_order_id.rs
  programs/mango-v4/src/instructions/perp_close_market.rs
  programs/mango-v4/src/instructions/perp_consume_events.rs
  programs/mango-v4/src/instructions/perp_create_market.rs
  programs/mango-v4/src/instructions/perp_deactivate_position.rs
  programs/mango-v4/src/instructions/perp_liq_base_position.rs
  programs/mango-v4/src/instructions/perp_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/perp_liq_quote_and_bankruptcy.rs
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/instructions/perp_settle_fees.rs
  programs/mango-v4/src/instructions/perp_settle_pnl.rs
  programs/mango-v4/src/instructions/perp_update_funding.rs
  programs/mango-v4/src/instructions/perp_zero_out.rs
  programs/mango-v4/src/instructions/serum3_cancel_all_orders.rs
  programs/mango-v4/src/instructions/serum3_cancel_order.rs
  programs/mango-v4/src/instructions/serum3_close_open_orders.rs
  programs/mango-v4/src/instructions/serum3_create_open_orders.rs
  programs/mango-v4/src/instructions/serum3_deregister_market.rs
  programs/mango-v4/src/instructions/serum3_liq_force_cancel_orders.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/serum3_register_market.rs
  programs/mango-v4/src/instructions/serum3_settle_funds.rs
  programs/mango-v4/src/instructions/stub_oracle_close.rs
  programs/mango-v4/src/instructions/stub_oracle_create.rs
  programs/mango-v4/src/instructions/stub_oracle_set.rs
  programs/mango-v4/src/instructions/token_add_bank.rs
  programs/mango-v4/src/instructions/token_deposit.rs
  programs/mango-v4/src/instructions/token_deregister.rs
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/instructions/token_update_index_and_rate.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  programs/mango-v4/tests/test_ix_gate_set.rs
  ts/client/src/accounts/group.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#425 Create a single rust test binary
  programs/mango-v4/tests/cases/mod.rs
  programs/mango-v4/tests/cases/test_alt.rs
  programs/mango-v4/tests/cases/test_bankrupt_tokens.rs
  programs/mango-v4/tests/cases/test_basic.rs
  programs/mango-v4/tests/cases/test_benchmark.rs
  programs/mango-v4/tests/cases/test_borrow_limits.rs
  programs/mango-v4/tests/cases/test_delegate.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_health_region.rs
  programs/mango-v4/tests/cases/test_ix_gate_set.rs
  programs/mango-v4/tests/cases/test_liq_perps.rs
  programs/mango-v4/tests/cases/test_liq_tokens.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/cases/test_perp.rs
  programs/mango-v4/tests/cases/test_perp_settle.rs
  programs/mango-v4/tests/cases/test_perp_settle_fees.rs
  programs/mango-v4/tests/cases/test_position_lifetime.rs
  programs/mango-v4/tests/cases/test_reduce_only.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/cases/test_token_update_index_and_rate.rs
  programs/mango-v4/tests/program_test/cookies.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  programs/mango-v4/tests/program_test/serum.rs
  programs/mango-v4/tests/program_test/solana.rs
  programs/mango-v4/tests/test_all.rs
Labels: program
