Repository blockworks-foundation/mango-v4, pull requests merged in 2024-02, with the labels that each got.

#865 fix perp settle limit materialization
  mango_v4.json
  programs/mango-v4/src/instructions/perp_consume_events.rs
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/instructions/perp_liq_negative_pnl_or_bankruptcy.rs
  programs/mango-v4/src/instructions/perp_settle_fees.rs
  programs/mango-v4/src/instructions/perp_settle_pnl.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/tests/cases/test_liq_perps_bankruptcy.rs
  programs/mango-v4/tests/cases/test_liq_perps_base_and_bankruptcy.rs
  programs/mango-v4/tests/cases/test_perp_settle.rs
  ts/client/src/accounts/mangoAccount.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#869 deposit limit: always allow obv1-selling deposits
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/tests/cases/test_serum.rs
Labels: program

#867 liquidation: Disallow liquidating assets with zero maint asset weight
  bin/liquidator/src/liquidate.rs
  mango_v4.json
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/health/client.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/cases/test_liq_tokens.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/accounts/bank.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#866 rust client: optionally derive prio fees from feed
  Cargo.lock
  bin/cli/src/main.rs
  bin/keeper/src/crank.rs
  bin/keeper/src/main.rs
  bin/keeper/src/taker.rs
  bin/liquidator/src/main.rs
  bin/liquidator/src/trigger_tcs.rs
  bin/settler/src/main.rs
  bin/settler/src/settle.rs
  lib/client/Cargo.toml
  lib/client/src/client.rs
  lib/client/src/jupiter/v4.rs
  lib/client/src/jupiter/v6.rs
  lib/client/src/lib.rs
  lib/client/src/priority_fees.rs
  lib/client/src/priority_fees_cli.rs
Labels: dependency

#876 ci/releasing: Include git sha and refname in release builds
  .github/workflows/ci-verifiable-build.yml
  RELEASING.md
Labels: documentation

#868 Add collateral fees
  bin/keeper/src/crank.rs
  bin/keeper/src/main.rs
  lib/client/src/client.rs
  mango_v4.json
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/accounts_ix/token_charge_collateral_fees.rs
  programs/mango-v4/src/instructions/group_edit.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/token_charge_collateral_fees.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/tests/cases/mod.rs
  programs/mango-v4/tests/cases/test_collateral_fees.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/accounts/bank.ts
  ts/client/src/accounts/group.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#878 tests: Check mango account backwards compatibility
  programs/mango-v4/resources/test/mangoaccount-v0.21.3.bin
  programs/mango-v4/src/state/mango_account.rs
  programs/mango-v4/src/state/mango_account_components.rs
  programs/mango-v4/src/state/token_conditional_swap.rs
Labels: program

#880 collateral fees: fixes after devnet test
  bin/keeper/src/crank.rs
  programs/mango-v4/src/instructions/token_charge_collateral_fees.rs
  programs/mango-v4/tests/cases/test_collateral_fees.rs
Labels: program

#882 flash loan: Add a "swap without fees" option
  mango_v4.json
  programs/mango-v4/src/accounts_ix/flash_loan.rs
  programs/mango-v4/src/instructions/flash_loan.rs
  ts/client/src/mango_v4.ts
  ts/client/src/types.ts
Labels: program, client

#884 Add force_withdraw state and instruction
  mango_v4.json
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/accounts_ix/token_force_withdraw.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_force_withdraw.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/tests/cases/test_force_close.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/scripts/force-withdraw-token.ts
  ts/client/src/accounts/bank.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#887 Audit v0.22 fixes
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/mango_account_components.rs
Labels: program

#856 Add raydium CLMM oracle fallbacks
  lib/client/src/context.rs
  programs/mango-v4/resources/test/Ds33rQ1d4AXwxqyeXX6Pc3G4pFNr6iWb3dd8YfBBQMPr.bin
  programs/mango-v4/src/state/amm_cpi.rs
  programs/mango-v4/src/state/mod.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/orca_cpi.rs
  programs/mango-v4/tests/cases/test_stale_oracles.rs
Labels: program

#896 tests: cleanup
  programs/mango-v4/tests/cases/mod.rs
  programs/mango-v4/tests/cases/test_basic.rs
  programs/mango-v4/tests/cases/test_borrow_limits.rs
  programs/mango-v4/tests/cases/test_collateral_fees.rs
  programs/mango-v4/tests/cases/test_fees_buyback_with_mngo.rs
  programs/mango-v4/tests/cases/test_force_close.rs
  programs/mango-v4/tests/cases/test_liq_perps_bankruptcy.rs
  programs/mango-v4/tests/cases/test_liq_perps_base_and_bankruptcy.rs
  programs/mango-v4/tests/cases/test_liq_perps_positive_pnl.rs
  programs/mango-v4/tests/cases/test_liq_tokens.rs
  programs/mango-v4/tests/cases/test_margin_trade.rs
  programs/mango-v4/tests/cases/test_perp.rs
  programs/mango-v4/tests/cases/test_perp_settle.rs
  programs/mango-v4/tests/cases/test_perp_settle_fees.rs
  programs/mango-v4/tests/cases/test_serum.rs
  programs/mango-v4/tests/cases/test_token_conditional_swap.rs
  programs/mango-v4/tests/cases/test_token_update_index_and_rate.rs
  programs/mango-v4/tests/program_test/utils.rs
Labels: program

#895 Bank: more parameter sanity checks
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/cases/test_basic.rs
  programs/mango-v4/tests/cases/test_force_close.rs
Labels: program

#894 add TokenBalanceLog in token_charge_collateral_fees
  lib/client/src/context.rs
  programs/mango-v4/src/instructions/token_charge_collateral_fees.rs
  programs/mango-v4/src/logs.rs
Labels: program
