Repository blockworks-foundation/mango-v4, pull requests merged in 2024-01, with the labels that each got.

#834 Fix idl generation, update it
  mango_v4.json
  programs/mango-v4/src/state/orderbook/queue.rs
  ts/client/src/mango_v4.ts
Labels: program, client

#828 oracle: don't force logging in OracleState functions
  bin/service-mango-orderbook/src/orderbook_filter.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/perp_market.rs
Labels: program

#813 Add an Orca oracle type
  bin/cli/src/test_oracles.rs
  bin/liquidator/src/rebalance.rs
  bin/service-mango-orderbook/src/orderbook_filter.rs
  bin/settler/src/settle.rs
  lib/client/src/chain_data_fetcher.rs
  lib/client/src/client.rs
  lib/client/src/health_cache.rs
  lib/client/src/perp_pnl.rs
  programs/mango-v4/resources/test/83v8iPyZihDEjDdY8RdZddyZNyUtXngz69Lgo9Kt5d6d.bin
  programs/mango-v4/resources/test/Gnt27xtC473ZT2Mw5u8wZ68Z3gULkSTb5DuxJy7eJotD.bin
  programs/mango-v4/src/error.rs
  programs/mango-v4/src/health/account_retriever.rs
  programs/mango-v4/src/instructions/account_buyback_fees_with_mngo.rs
  programs/mango-v4/src/instructions/perp_create_market.rs
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/instructions/perp_force_close_position.rs
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/instructions/perp_liq_negative_pnl_or_bankruptcy.rs
  programs/mango-v4/src/instructions/perp_place_order.rs
  programs/mango-v4/src/instructions/perp_settle_fees.rs
  programs/mango-v4/src/instructions/perp_settle_pnl.rs
  programs/mango-v4/src/instructions/perp_update_funding.rs
  programs/mango-v4/src/instructions/serum3_place_order.rs
  programs/mango-v4/src/instructions/serum3_settle_funds.rs
  programs/mango-v4/src/instructions/token_deposit.rs
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/instructions/token_update_index_and_rate.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/mod.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/orca_cpi.rs
  programs/mango-v4/src/state/perp_market.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
  programs/mango-v4/tests/cases/test_stale_oracles.rs
Labels: program

#837 ts client: Support deposit-into-existing
  ts/client/scripts/deposit-into.ts
  ts/client/src/client.ts
Labels: client

#839 Allow fast listing admin to register openbook v1 markets
  programs/mango-v4/src/accounts_ix/serum3_register_market.rs
  programs/mango-v4/src/instructions/serum3_register_market.rs
Labels: program

#841 Update openbook v1 fast listing default parameter
  programs/mango-v4/src/instructions/serum3_register_market.rs
Labels: program

#843 use fast clone
  package.json
  ts/client/scripts/archive/debug-user.ts
  ts/client/src/accounts/group.ts
  ts/client/src/accounts/healthCache.spec.ts
  ts/client/src/accounts/healthCache.ts
  ts/client/src/client.ts
  ts/client/src/risk.ts
  ts/client/src/utils.ts
  yarn.lock
Labels: client

#850 Rust client: Revamp transaction confirmation
  Cargo.lock
  Cargo.toml
  lib/client/Cargo.toml
  lib/client/src/client.rs
  lib/client/src/confirm_transaction.rs
  lib/client/src/lib.rs
  lib/client/src/util.rs
Labels: dependency

#849 Add a token-token platform liquidation fee
  mango_v4.json
  programs/mango-v4/src/instructions/token_edit.rs
  programs/mango-v4/src/instructions/token_force_close_borrows_with_token.rs
  programs/mango-v4/src/instructions/token_liq_with_token.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/instructions/token_register_trustless.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/tests/cases/test_liq_tokens.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  programs/mango-v4/tests/program_test/mango_setup.rs
  ts/client/src/accounts/bank.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
  ts/client/src/risk.ts
Labels: program, client

#838 Use fallback oracles in Rust client
  bin/keeper/src/main.rs
  bin/liquidator/src/liquidate.rs
  bin/liquidator/src/rebalance.rs
  bin/liquidator/src/trigger_tcs.rs
  bin/service-mango-pnl/src/main.rs
  bin/settler/src/settle.rs
  bin/settler/src/tcs_start.rs
  lib/client/src/account_fetcher.rs
  lib/client/src/chain_data_fetcher.rs
  lib/client/src/client.rs
  lib/client/src/context.rs
  lib/client/src/gpa.rs
  lib/client/src/health_cache.rs
  lib/client/src/jupiter/v4.rs
  lib/client/src/jupiter/v6.rs
  lib/client/src/perp_pnl.rs
  programs/mango-v4/src/health/account_retriever.rs
  programs/mango-v4/src/state/oracle.rs
  programs/mango-v4/src/state/orca_cpi.rs
  programs/mango-v4/tests/cases/test_health_compute.rs
Labels: program

#858 perp: Add platform liquidation fee for base
  mango_v4.json
  programs/mango-v4/src/instructions/perp_create_market.rs
  programs/mango-v4/src/instructions/perp_edit_market.rs
  programs/mango-v4/src/instructions/perp_liq_base_or_positive_pnl.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/logs.rs
  programs/mango-v4/src/state/bank.rs
  programs/mango-v4/src/state/perp_market.rs
  programs/mango-v4/tests/cases/test_liq_perps_base_and_bankruptcy.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/accounts/perp.ts
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#859 ts: Fix registering tokens and stub oracles
  ts/client/src/client.ts
Labels: client

#861 liquidator: batch serum-cancel step
  bin/liquidator/src/liquidate.rs
  bin/liquidator/src/main.rs
  lib/client/src/client.rs
  ts/client/scripts/liqtest/liqtest-create-group.ts
  ts/client/scripts/liqtest/liqtest-create-tokens-and-markets.ts
  ts/client/scripts/liqtest/liqtest-make-candidates.ts
  ts/client/scripts/liqtest/liqtest-settle-and-close-all.ts
Labels: client
