Repository blockworks-foundation/mango-v4, pull requests merged in 2024-04, with the labels that each got.

#935 Audit: Remove unused fn, add comments
  programs/mango-v4/src/health/account_retriever.rs
  programs/mango-v4/src/health/cache.rs
Labels: program

#936 token_withdraw: avoid silencing errors with is_ok()
  programs/mango-v4/src/health/cache.rs
  programs/mango-v4/src/instructions/token_withdraw.rs
Labels: program

#919 Liquidator: add Sanctum swap
  Cargo.lock
  bin/cli/src/main.rs
  bin/liquidator/Cargo.toml
  bin/liquidator/src/cli_args.rs
  bin/liquidator/src/main.rs
  bin/liquidator/src/rebalance.rs
  bin/liquidator/src/token_swap_info.rs
  bin/liquidator/src/trigger_tcs.rs
  lib/client/Cargo.toml
  lib/client/src/client.rs
  lib/client/src/gpa.rs
  lib/client/src/lib.rs
  lib/client/src/swap/jupiter_v6.rs
  lib/client/src/swap/mod.rs
  lib/client/src/swap/sanctum.rs
  lib/client/src/swap/sanctum_state.rs
Labels: dependency

#939 program: remove delegate account withdrawal limit
  programs/mango-v4/src/instructions/token_withdraw.rs
Labels: program

#940 program: fix health check ix gate
  programs/mango-v4/src/accounts_ix/health_check.rs
  ts/client/src/clientIxParamBuilder.ts
Labels: program, client

#942 Changelog for v0.24.0
  CHANGELOG.md
Labels: documentation

#946 Allow the insurance fund to be for any bank
  lib/client/src/client.rs
  mango_v4.json
  programs/mango-v4/src/accounts_ix/group_change_insurance_fund.rs
  programs/mango-v4/src/accounts_ix/mod.rs
  programs/mango-v4/src/accounts_ix/perp_liq_negative_pnl_or_bankruptcy.rs
  programs/mango-v4/src/accounts_ix/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/group_change_insurance_fund.rs
  programs/mango-v4/src/instructions/ix_gate_set.rs
  programs/mango-v4/src/instructions/mod.rs
  programs/mango-v4/src/instructions/token_liq_bankruptcy.rs
  programs/mango-v4/src/instructions/token_register.rs
  programs/mango-v4/src/lib.rs
  programs/mango-v4/src/state/group.rs
  programs/mango-v4/tests/cases/test_bankrupt_tokens.rs
  programs/mango-v4/tests/cases/test_liq_perps_bankruptcy.rs
  programs/mango-v4/tests/program_test/mango_client.rs
  ts/client/src/client.ts
  ts/client/src/clientIxParamBuilder.ts
  ts/client/src/mango_v4.ts
Labels: program, client

#950 Program: fix openbook-v2 integration tests (stack overflow issue)
  programs/mango-v4/tests/program_test/openbook_setup.rs
Labels: program

#954 Fix alignment of ordertree nodes
  programs/mango-v4/src/state/orderbook/nodes.rs
  programs/mango-v4/src/state/orderbook/ordertree.rs
Labels: program
